.qmake.stash
Makefile
*.o
libsimRRS1.1.0.0.dylib
libsimRRS1.1.0.dylib
libsimRRS1.1.dylib
libsimRRS1.dylib
libsimRRS1.so
libsimRRS1.so.1
libsimRRS1.so.1.0
libsimRRS1.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
mocinclude.opt
*.pro.user
*.user
